h1{
    margin-left: 30px;
    color:darkslateblue;
}

#content{
    display: inline-table;
    width: 960;
    margin: 90px auto;
    padding : 20px;
    background: white; 
    text-align: left;
}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 150px;
    text-align-last: auto ;
    font-weight: 600;

  }

input[type="submit"]
{
    display: block;
    margin-left: 170px;
}

.bouton_submit{
    margin-top: 40px;
    display: block;
    color: black;
    width: 150px;
    background: #B9DFFF;
    border: 1px solid #eee;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
} 

.bouton_submit:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    }


input:required{
    border:solid 1px rgb(32, 32, 99)
}

input:focus:invalid{
    border:solid 1px red
}

input:focus:valid{
    border:solid 1px green
}